<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-4 footer-tekst">
            <p>Copyright © - 2018 - Twirlclub Attitude vzw </p> 
            <p>In samenwerking met Anneleen Peeters en Arteveldehogeschool</p>
            <p>Academiejaar 2017-2018</p>
        </div>
        <div class="col-4"></div>
        <div class="col-2 text-right">
            <img src="{{'/images/Attitude_Rood_CMYK.png'|relative_url}}" alt="Artvelde" class="footer-logo">
        </div>
        <div class="col-2 text-left">
            <img src="{{'/images/artevelde_logo.png'|relative_url}}" alt="Artvelde" class="icon-artevelde">
        </div>
    </div>
</footer>