<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-12 text-center">
            <p>Copyright © - 2018 - Twirlclub Attitude vzw </p> 
            <p>In samenwerking met Anneleen Peeters en Arteveldehogeschool</p>
            <p>Academiejaar 2017-2018</p>
            <div class="row">
                <div class="col-6 text-right">
                        <img src="{{'/images/LogoZwart.png'|relative_url}}" alt="Artvelde" class="footer-logo">
                </div>
                <div class="col-6 text-left">
                        <img src="{{'/images/Ahslogo.png'|relative_url}}" alt="Artvelde" class="icon-artevelde">
                </div>
            </div>
            
        </div>
    </div>
</footer>