/* Navigation --------------------------------------------- */

.navbar {
  position: fixed;
}

.navbar a {
    border: none;

}

.nav-logo {
  max-width: 270px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navigatie-paginas-kolom {
  padding-left: 40px;
}

.nav-item {
  text-transform: uppercase;
  font-weight:$font-weight-semibold;
  font-size: 1.1rem;
  line-height: 50%;
  font-family: $myfont-family-title;
}

.nav-item a {
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1.0;
  color: $TwirlRood !important;
  opacity: 1;
}

.nav-item :hover{
  opacity: 0.5;
}

.nav-item :active{
  opacity: 1 !important;
}

.body-padding-onderaan {
  padding-bottom: 300px;
}





/* HOME PAGINA 
------------------------------------------------------------------------- */


.Illustratie_Twirlster{
  max-width: 900px;
  margin-top: -200px;
  margin-left: -160px;
}

.home-titel{
  margin-top: 140px;
}

.home-tekst {
  padding-top: 200px;
}

.home-tekst h4 {
  padding-top: 40px;
}









/* LOGO PAGINA 
------------------------------------------------------------------------- */

.logo-container{
margin-top: 130px;
margin-bottom: 200px;

}

.logo-voorstelling {
  max-width: 500px;
  margin-top: 70px;
}

.logo-inhoud {
  max-width: 820px;
  margin-top: -100px;
  margin-bottom: -60px;
}

.foto-zwartwit{
  max-width: 400px;
  padding-top: 40px;
}

.foto-witruimte {
  max-width: 500px;
  margin-top: 100px;
}

.foto-min-print{
  max-width: 100px; 
  margin-top: 270px;
  margin-left: 200px;

}

.foto-min-web{
  max-width: 170px; 
  float: right;
  margin-top: 50px;
  margin-right: 100px;
}

.titel-min{
  margin-bottom: -250px;
}

.logo-dont {
  width: 250px;
  margin-top: 40px;
}

.dont-header{
  background-color: #fff;
  height: 250px;
}

.dont-body p{
  font-size: 0.9rem;
  padding-bottom: 0;
  background-color:#fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.dont-eersterij{
  padding-top: 60px;
}

.DownloadButton {
  background: $TwirlRood;
  font-weight:$font-weight-semibold;
  margin-top: 100px;
  border-radius: 0%;
  border: none;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.btn-primary:hover{
color: #000;
background-color: $TwirlRoze;
border-color: $TwirlRoze;
}

.download-kader{
  background-color: #fff;
  width: 400px;
  height: 500px;
}

.download-tekst {
margin-top: 40px;
}

.DownloadLogo {
  background: $TwirlRood;
  font-weight:$font-weight-semibold;
  border-radius: 0%;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px; 
  text-transform: uppercase;
  font-size: 0.9rem;
  width: 130px;
}

.DownloadLogoRoze{
  background: $TwirlRoze;
  color: #000;
}

.DownloadLogoRoze:hover{
  background: $TwirlRood;
  color: #fff;
}

.logo-download-kader {
  width: 350px;
  margin-top: 80px;
}


.download-container {
  padding-top: 40px;
}





/* KLEUR PAGINA 
------------------------------------------------------------------------- */

.card {
  border-top: 20px solid white;
  border-left: 20px solid white;
  border-right: 20px solid white;
  border-radius: 0;
  margin: 40px;
}

.card-neutraal{
  margin: 0;
}

#card-kleur-rood{
  background-color: $TwirlRood;
}

#card-kleur-roze{
  background-color: $TwirlRoze;
}

#card-kleur-zwart{
background-color: #000;
}

#card-kleur-grijs{
  background-color: #646363;
}

#card-kleur-wit{
  background-color: #fff;
}

.card-header{
  padding-left: 180px;
  padding-top: 180px;
  text-transform: uppercase;
  font-family: $myfont-family-title;
  font-weight:$font-weight-semibold;
  color: white;
}

.card-header-zwart {
  padding-left: 160px;
}

.card-body p{
  font-family: $myfont-family-title;
  font-weight:$font-weight-medium;
  font-size: 0.9rem;
  line-height: 85%;
  margin-left: -15px;
}

.card-header-wit {
  border: 0.1px solid black;
  color: #000;
}

.cards-neutraal{
  padding-top: 50px;
  padding-bottom: 50px;
}











/* TYPO PAGINA 
------------------------------------------------------------------------- */

.typo-kader{
  background-color: #fff;
  margin-top: 50px;
}

.mont-n1{
  font-weight:$font-weight-semibold;
  font-family: $myfont-family-title;
  text-transform: uppercase;
  font-size: 2.1rem;
  padding-top: 80px;
  padding-left: 110px;
}

.mont-n2{
  font-weight:$font-weight-medium;
  font-family: $myfont-family-title;
  font-size: 1.2rem;
  padding-left: 110px;
  padding-top: 20px;
}

.mont-n3{
  font-weight:$font-weight-regular;
  font-family: $myfont-family-title;
  font-size: 0.9rem;
  padding-left: 110px;
  padding-top: 20px;
}

.mont-aa{
  font-weight:$font-weight-semibold;
  font-family: $myfont-family-title;
  font-size: 4.0rem;
  padding-top: 100px;
  padding-left: 110px;
}

.mont-tekst{
  font-weight:$font-weight-regular;
  font-family: $myfont-family-title;
  font-size: 0.9rem;
  padding: 40px;
}

.DownloadButton-typo{
  background: $TwirlRood;
  border-radius: 0%;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  font-family: $myfont-family-title;
  font-size: 1.0rem;
  font-weight:$font-weight-semibold;
  margin-bottom: 60px;
  margin-top: 20px;
}

.frank-n1{
  font-family: $myfont-family-frank;
  font-weight:$font-weight-bold;
  font-size: 2.1rem;
  padding-top: 80px;
  padding-left: 110px;
}

.frank-n2{
  font-family: $myfont-family-frank;
  font-size: 1.2rem;
  padding-left: 110px;
  padding-top: 20px;
}

.frank-n3{
  font-family: $myfont-family-frank;
  font-size: 1.0rem;
  padding-left: 110px;
  padding-top: 20px;
}

.frank-aa{
  font-family: $myfont-family-frank;
  font-weight:$font-weight-bold;

  font-size: 4.0rem;
  padding-top: 100px;
  padding-left: 110px;
}



















/* PRINT PAGINA 
------------------------------------------------------------------------- */

.container-twirlzak{
  position: relative;
}

.container-haarspeldenzak{
  position: relative;
}

.print-titel {
  margin-bottom: -320px;
}

.print-titel-extra {
  margin-bottom: -450px;
}

.print-titel-batonton{
  margin-bottom: -1000px;
}

.print-titel-drinkfles{
  margin-top: 200px;
}


.print-titel p {
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $myfont-family-title;
  margin-left: -30px;
}

.foto-twirlzak{
  max-width: 140%;
  margin-left: -237px;
}

.foto-haarspeldenzak{
  width: 128%;
  margin-left: -128px;
  margin-top: -30px;
}

.foto-drinkfles{
  margin-top: -450px;
}

.foto-batonton{
  width: 135%;
  margin-left: -193px;
}

.DownloadButton-print{
  background: $TwirlRood;
  border-radius: 0%;
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  font-family: $myfont-family-title;
  font-size: 1.2rem;
  font-weight:$font-weight-semibold;
  position: absolute;
  top: 85%;
  left: 70%;
  }

.DownloadButton-print :hover{
  background-color: $TwirlRoze;
}





/* DIGITAAL PAGINA 
------------------------------------------------------------------------- */





/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: white;
}

.icon-artevelde {
  max-width: 140px;
  padding-top: 20px;
  margin-top: 10px;
}

.footer-logo {
  max-width: 180px;
  padding-top: 20px;
}

.footer-tekst{
  font-family: $myfont-family-title;
  font-size: 0.8rem;
  line-height: 7%;
  margin-top: 70px;
  color: $TwirlRood;
  font-weight:$font-weight-medium;
  padding-left: 30px;
}
