

// Color system
// ------------------------

// Greys
$color-white: rgba(250,250,250,1);
$color-grey:rgba(100,99,99,1);
$color-black:rgba(0,0,0,1);

// Website
$TwirlRood:rgba(215,53,52,1);
$TwirlRoze:rgba(252,217,203,1);


$body-bg:$color-white;
$body-color:$color-black;
$body-link:$TwirlRood;


// Client specific
$clientcolor-1:rgba(120,250,250,1);
$clientcolor-2:rgba(120,250,250,1);
$clientcolor-3:rgba(120,250,250,1);
$clientcolor-4:rgba(120,250,250,1);
$clientcolor-5:rgba(250,120,120,1);


// TYP0GRAPHY
// -----------------------------

// Imports
// Website
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

// Client specific
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

// type
$myfont-family-base: 'Frank+Ruhl+Libre';
$myfont-family-title: 'Montserrat', sans-serif;

// sizes
$font-size-base: 16px;
$lineheight-base: 1.6em;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semibold: 500;
$font-weight-bold: 800;


// Type Client specific
//------------------------------

// type
$clientfont-family-base: 'Montserrat', serif;
$clientfont-family-title: $myfont-family-base;

// sizes
$client-font-size-base: 16px;
$client-lineheight-base: 1.6em;
$client-font-weight-light: 200;
$client-font-weight-medium: 400;
$client-font-weight-semibold: 500;
$client-font-weight-bold: 800;